body {
    margin: 10px, auto;
    background-color:#604D53;
}

.container {    
   display: grid;
   grid-template-columns: 24% 24% 24% 24%;
   grid-gap: 1%;
   color: whitesmoke;
   width: 100%;
   align-content: center;
   text-align: center;
   
   
}

.customers {
    background-color:#FFDBDA;
    border: 2px solid #9DA3A4;
    color: black;
    border-radius: 20px;
    padding: 20px;
    font-size: 90%;   
    text-align: center;  
}

img{
    border-radius: 50%;
}


.customer-name {
    text-transform: capitalize;
    font-size: large;
    font-weight: bold;
}

.email {
    font-size: 90%;
    font-style: italic;
    font-weight: bold;
    color: #990000
}



.customer-locations {
    text-transform: capitalize;
}

.site-header{
    color: whitesmoke;
    text-align: center;


}

